@charset "utf-8";

:root {
    --color-font-branco: white;
    --color-font-preto: black;
    --cor-fundo-cinza-claro: #e9e6e6;
    --cor-fundo-cinza-escuro: #969494;
    --font-family: Helvetica, arial, sans-serif;
}

.clear {
    clear: both;
}

#bannerBoasVindas {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 31.25%;
    height: 560px;
}

#bannerBoasVindas video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1400px;
    height: 550px;
    object-fit: cover;
}

#escurecervVideoFundoPreto {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.63);
}

#divtextbanner {
  position: relative;
  z-index: 3;
  width: 75%;
  margin: auto;
  height: 550px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#textbanner {
  text-transform: uppercase;
  font-size: 2.5em;
  font-family: 'cocogoose-condensed-trial-light', sans-serif;
  line-height: 45px;
}

#textbanner::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* APRESENTAÇÃO ESCOLA */
#apresentacao_escola {
    display: flex;
    flex-flow: row wrap;
    background: #2a1616; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #8d4343,
      #3f1f1f
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #8d4343,
      #3f1f1f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #f9f9f9;
    margin: -10px 0px 25px 0px;
    padding-left: 30PX;
    padding-bottom: 30px;
    width: 100%;
}

.imagem_rua_italia {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 10px;
    padding: 0px;
}

#texto_apresentacao {
    margin: 40px 10px 20px 40px;
    width: 50%;
    font-family:  var(--font-family);
    line-height: 28px;
}

.texto {
    font-size: 1.8em;
}

a.saiba_mais {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: #f9f9f9;
}

.saiba_mais:visited {
    color: #f9f9f9;
}

.saiba_mais:hover {
    color: rgb(116, 1, 1);
    text-decoration: underline;
    font-family: var(--font-family);
}


/* diferencial */
#sectionDiferencial {
    background-color: var(--cor-fundo-cinza-claro);
    margin-top: -25px;
    font-family:  var(--font-family);
    text-align: center;
    padding-bottom: 30px;
}

#flex_conteiner_diferencial {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


#titulo_section_diferencial {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2em;
    padding-top: 60px;
    padding-bottom: 20px;
}

.diferencial {
    background-color: var(--color-font-branco);
    width: 450px;
    padding: 25px;
    margin: 20px 20px 15px 20px;
    box-shadow: 3px 5px rgb(138, 137, 137);
    line-height: 30px;
    border-radius: 20px;
}

.titulo_diferencial{
    font-size: 1.55em;
}

.texto_diferencial {
    font-size: 1.25em;
}

.img-diferencial {
    margin-top: 15px;
    border-radius: 100%;
}

/*formulario aula teste */
#section_aula_teste {
    background-color: var(--cor_fundo_vemelho_medio);
    padding-top: 25px;
    padding-bottom: 20px;
    font-family: var(--font-family);
    color: var(--color-font-branco);
}

#section_aula_teste h2, #section_aula_teste h4 {
    line-height: 60px;
    text-align: center;
    text-shadow: 5px 5px 5px var(--color-font-preto);
}

#section_aula_teste h2 {
    font-size: 2em;
}

#section_aula_teste h4 {
    font-size: 1.5em;
}

#flex_conteiner__aula_teste{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;
}

#testoMarketingPromocional {
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    font-family: var(--font-family);
}

#textSmall {
    font-size: 1.5em;
}

#testMedium {
    font-size: 4em;
    font-weight: bold;
}

#textBig {
    font-size: 10em;
    font-weight: bolder;
}


#divFormularioAulaTeste {
    background-color: var(--cor-fundo-cinza-claro);
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgb(82, 80, 80);
}

#formCadastriAulaTeste{
    padding: 20px;
    margin-top: 15px;
} 

label {
    display: block;
    margin: 15px 10px 20px 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color-font-preto);
}

input{
    border-radius: 5px;
}

.dados_do_usuario {
    padding: 5px;
    width: 100%;
    font-weight: 300;
    font-family: var(--font-family);
    font-size: 30px;;
    text-align: center;
    color: var(--color-font-preto);
}

.flex_conteiner_telefone {
    display: flex;
    justify-content: center;
    flex-flow: row;
}

.ddd {
    width: 20%;
}

.labeltelefone {
   width: 65%;
}

.erro, .erronome, .errotel, .errocel, .erroemail{
    color: #E00000;
    font-weight: bold;
    font-size: 0.6em;
}

.flex_conteiner_botao_aulaTeste {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 15px;
}

.botao_enviar {
    padding: 12px;   
    width: 150px;
    font-weight: bolder;
    border-radius: 20px;
}

#Flex_conteiner_politcaprivacidade_formaulagratis {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.politcaprivacidade_formaulagratis {
    width: 80%;
}

.politcaprivacidade_formaulagratis p {
    font-size: 1em;
    font-weight: bold;
    font-family: var(--font-family);
    color: black;
}

.link_termo {
    text-decoration: underline;
    text-transform: uppercase;
}

.link_termo:hover {
    color: red;
    flex-flow: row column;
}
/* depoimentos */

#depoimentos_aluno {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #000;
    padding: 50px;
}

.depoimento_titulo {
    margin-bottom: 15px;
    font-size: 3em;
    font-family: var(--font-family);
    text-align: center;
}

.depoimento_paragrafo {
    font-size: 1.6em;
    font-family: var(--font-family);
    text-align: center;
}

.fa-star{
    color: #f9b707;
}

.carrosel {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 485px;
    max-width: 90vw;
    overflow: hidden;
}

.swiper-pagination-bullet {
    background-color: red !important;
}

.swiper-pagination {
    bottom: 34px !important;
    transform: scale(2) !important;
}

.swiper-button-prev, .swiper-button-next {
    color: red !important;
    opacity: 1 !important;
}

.swiper {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px !important;
}

.depoimentos_stars {
    margin-bottom: 15px;
}

.swiper-slide {
    display: flex;
    gap: 18px;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgb(138, 137, 137);
    border-radius: 5px;
    padding: 25px;
    width: 450px;
    height: 500px;   
    line-height: 25px;
    font-size: 1.2em;
}

.info-aluno{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.imagem-depoimento-aluno{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.imagem-depoimento-aluno img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.nome_depoimento_aluno {
    font-weight: bold;
}

.conclusao_depoimentos {
    font-family: var(--font-family);
    font-size: 1.2em;
    font-weight: bold;
}

/* perguntas frequentes */
#perguntas_frequentes {
    padding-top: 50px;
}

#perguntas_frequentes h3 {
    padding-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-family);
    font-size: 1.8em;
}

.pergunta {
    margin: auto;
}

details {
    background-color: var(--cor-fundo-cinza-claro);
    margin: 30px 20px 30px 50px;
}

summary {
    display: block;
    background-color: var(--cor-fundo-cinza-claro);
    padding: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: var(--font-family);
    font-size: 1.15em;
}

details p, details ul  {
    background-color: white;
    text-transform: capitalize;
    font-family: var(--font-family);
    font-size: 1.05em;
}

details p {
    padding: 40px;
}

details ul {
    padding-left: 80px;
    padding-bottom: 40px;
}


a.botao_matricula {
    text-decoration: none;
}

.botao_matricula button {
    display: block;
    margin: 20px auto 40px;
    padding: 15px 20px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: var(--font-family);
    font-size: 1.15em;
}

.botao_matricula button:hover {
    background-color: rgb(139, 7, 7);
    color: var(--color-font-branco);
}

@media only screen and (min-width: 320px) and (max-width: 1259px){
    .imagem_rua_italia {
        padding-top: 0px;
        margin: auto;
        padding: 0px;
    }

    .imagem_rua_italia  img {
        margin-top: 20px;
        padding: 0px;
        width: 100%;
    }

    #texto_apresentacao {
        margin: 15px auto 20px auto;
        width: 90%;
    }

    .texto{
        line-height: 40px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    #apresentacao_escola {
        padding-left: 0px;
        padding-top: 0px;
    }

    #texto_apresentacao p {
        margin-left: 5%;
    }

    /*formulario aula teste */
    #section_aula_teste {
        padding-top: 15px;
        padding-bottom: 25px;
        text-shadow: 3px 3px 3px var(--color-font-preto);
    }

    #section_aula_teste h2{
        font-size: 1.9em;
    }

    #section_aula_teste h4{
        font-size: 1.5em;
    }

    .flex_conteiner__aula_teste{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    #testoMarketingPromocional {
        margin-top: 50px;
    }

    #textSmall {
        font-size: 2.5em;
    }
    
    #testMedium {
        font-size: 4em;
        font-weight: bold;
    }
    
    #textBig {
        font-size: 8em;
        font-weight: bolder
    }

    #divFormularioAulaTeste{
        text-shadow: none;
    }
    
    label {
        font-size: 1.1em;
    }

    .dados_do_usuario {
        padding: 5px;
        margin: auto;
        font-size: 1.2em;
    }

    form  h5 {
        margin-left: 30%;
    }

    .botao_enviar {
        display: block;
        margin: auto;
    }

    details {
        margin-left: 15px;
    }
}