@charset "utf-8";

:root {
    --font-family: Helvetica, arial, sans-serif;
}

#banner_pincipal {
    margin-bottom: 10px;
}

.titulos_principais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulos_pincipais_text {
    margin: 60px auto;
    width: 80%;
}

.titulos_pincipais_text h1 {
    margin-bottom: 30px;
    text-align: center;
    font-family: var(--font-family);
    font-size: 2.2em;
}

.titulos_pincipais_text h2 {
    margin-left: 40px;
    text-align-last: center;
    font-size: 1.5em;
}

.titulos_principais img {
    z-index: 2;
}

.banner {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 50px;
    position: relative;
    top: -50px;
    z-index: 1;
    background-image: linear-gradient(#022F5A,#023859, #034b77,#046099);
}

.banner .divisao_1 {
    width: 50%;
    margin-right: 70px;
    margin-left: 20px;
}

.banner .texto {
    padding: 90px 20px 40px;
}

.banner .texto h2{
    text-align: center;
    font-family: var(--font-family);
    font-size: 2em;
    color: white;
}

.banner .icones_banner {
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
    align-items: center;
}

.banner .imagem {
    padding-top: 90px;
    width: 40%;
}

.banner .imagem img {
    width: 100%;
}

#sobre_nos {
    margin-bottom: 40px;
}

#sobre_nos h3 {  
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 1.5em;
}

#sobre_nos p {
    margin-bottom: 20px;
    line-height: 25px;
    text-indent: 40px;
    text-align: justify;
    font-family: var(--font-family);
    font-size: 1.2em;
}

#sobre_nos p::first-letter {
    text-transform: uppercase;
}

#sobre_nos .historia_italian_academy img {
    display: block;
    border: 2px solid black;
    margin: 30px auto 70px;
}

#sobre_nos div {
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
}

#sobre_nos div h4 {
    margin-bottom: 30px;
    margin-left: 5%;
    font-family: var(--font-family);
    font-size: 1.4em;
}

#sobre_nos div.Crescendo {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    background-color: #e9f5fa;
    padding-top: 50px;
    padding-bottom: 30px;
}

#sobre_nos .Crescendo .Crescendo_text {
    width: 55%;
    margin: auto;
}

#sobre_nos .Crescendo .Crescendo_text h4 {
    text-align: center;
}

#sobre_nos .Crescendo img {
    margin-left: 50px;
    width: 30%;
}

#sobre_nos .Bem-Vindo {
    text-align: center;
}

#missao, #valores, #metas {
    width: 85%;
    margin: auto;
    margin-bottom: 40px;
}

#missao h3, #valores h3, #metas h3 {  
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 1.3em;
}

#missao p, #valores p, #metas p {
    margin-bottom: 20px;
    line-height: 25px;
    text-indent: 40px;
    text-align: justify;
    font-family: var(--font-family);
    font-size: 1.2em;
}

#missao p::first-letter, #valores p::first-letter, #metas p::first-letter {
    text-transform: uppercase;
}

#missao div, #valores div, #metas div {
    margin-bottom: 30px;
}

#valores div h4, #metas div h4 {
    margin-bottom: 30px;
    margin-left: 5%;
    font-family: var(--font-family);
    font-size: 1.15em;
}
