:root {
    --cor-branco: white;
    --cor-cinza-claro: #d3d2d2;
    --font-family: Helvetica, arial, sans-serif;
}

* {
    font-family: var(--font-family);
}


#corpo {
    background: url(../imagem/bandeirafundo.jpg) no-repeat ;
    height: 100%;
}

#contadorNivel {
    display: flex;
    justify-content:  space-around;
    align-items: center;
    padding: 5px;
    margin: 25px;
    border: solid black 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(216, 214, 214);
    background-color: var(--cor-branco);
}

#logo {
    width: 70%;
}

#logo h1 {
    padding: 15px;
    color: red;
}

#nivel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    padding: 15px;
    font-size: 1.6em;
    font-weight: bolder;
    color: red;
}

#nivel > div {
    margin: 5px 10px;
}

#flexContentQuestao {
    display: flex;
    justify-content: center;
    align-items: center;
}

#exibirQuestao {
    padding: 20px;
    margin: 20px;
    width: 60%;
    border: solid 2px black;
    border-radius: 5px;
    background-color: rgb(219, 218, 218);
}