main{
    background-color: #f9f9f9d3;
}

#progress{
    height: 80px;
} 
#progress-bar{
    margin: 20px 50px;
}

#titulo-progress, #quantidade-question {
    width: 90%;
    margin: 20px auto;
}

#titulo-progress {
    font-family: var(--font-family-default);
    color: var(--cor_fundo_vermelho_medio);
    font-size: 1.3em;
    font-weight: bolder;
    text-transform: uppercase;
}

#progress-bar {
    height: 20px;
    background-color: #00FF00;
    border-radius: 15px;
    border: 2px solid gray;
    transition: all ease .5s;
}

#quantidade-question{
    font-weight: bolder;
    font-size: 1.5em;
    font-family: var(--font-family-default);
    text-align: right;
}

#question-area, #result {
    display: none;
}

#question-area {
    margin: 30px auto 60px;
    padding: 30px;
    width: 700px;
} 

#question ,#options{
    margin: 30px auto;    
    text-align: center;
    font-family: var(--font-family-default);
    font-weight: bolder;
}

#question {
    font-size: 2em;
}

#options div{
    margin-bottom: 5px;
    padding: 20px;
    padding-left: 80px;
    background-color: rgba(0, 0, 0, 0.3);;
    text-align: left;
}

#options div:hover{
    background-color: var(--cor_fundo_vermelho_medio);
    color: white;
}

#result{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    padding: 40px;
    width: 400px;
    border: 2px solid rgb(95, 95, 95);
    border-radius: 30px;    
    background-color: rgb(226, 223, 223);
}

#yourlevel{    
    margin-bottom: 60px;
    font-family: var(--font-family-default);
    font-size: 2.2em;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

#quantidadeacertos{
    margin-bottom: 30px;
    font-family: var(--font-family-default);
    font-weight: bold;
    font-size: 1.2em;
}